<?xml version="1.0"?>
<AlteryxJavaScriptPlugin>
  <Properties>
    <MetaInfo>
      <Name>Tableau Data Source Downloader</Name>
      <RootToolName>Tableau Data Source Downloader</RootToolName>
      <Description>The Tableau Data Source Downloader provides a way to programmatically download .hyper files from a Tableau Server.</Description>
      <CategoryName>Connectors</CategoryName>
      <ToolVersion>Alpha 1.0.0</ToolVersion>
      <Author>Stephen Wagner</Author>
      <Company>Alteryx, Inc.</Company>
      <Copyright>2019</Copyright>
      <SearchTags>tableau, hyper, data, source, online, server, data, extract, tdsx</SearchTags>
      <Icon>tableau_data_source_downloader_alpha_v1.0.0Icon.png</Icon>
    </MetaInfo>
  </Properties>
</AlteryxJavaScriptPlugin>